controllerManager:
  manager:
    args:
    - operator
    - --health-probe-bind-address=:8081
    - --metrics-bind-address=:8080
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
    env:
      featureEnableV9: "true"
    image:
      repository: ghcr.io/mondoohq/mondoo-operator
      tag: v1.19.1
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 200m
        memory: 140Mi
      requests:
        cpu: 100m
        memory: 70Mi
  replicas: 1
kubernetesClusterDomain: cluster.local
managerConfig:
  controllerManagerConfigYaml: |-
    # Copyright (c) Mondoo, Inc.
    # SPDX-License-Identifier: BUSL-1.1
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: 60679458.mondoo.com
metricsService:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  type: ClusterIP
