apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: mondoo-operator
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    app: mondoo-operator
    app.kubernetes.io/name: mondoo-operator
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: mondoo-operator
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mondoo-operator
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /mondoo-operator
        args:
        - operator
        - --leader-elect
        image: controller:latest
        imagePullPolicy: IfNotPresent
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 60Mi
          requests:
            cpu: 100m
            memory: 35Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
