# Copyright (c) Mondoo, Inc.
# SPDX-License-Identifier: BUSL-1.1

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mondoo-operator
namePrefix: mondoo-operator-
resources:
- manifests.yaml
images:
- name: controller
  newName: ghcr.io/mondoohq/mondoo-operator
  newTag: v1.17.2
