apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: k8s-resources-scanning
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - ""
  resourceNames:
  - mondoo-private-registries-secrets
  resources:
  - secrets
  verbs:
  - get