apiVersion: k8s.mondoo.com/v1alpha2
kind: MondooAuditConfig
metadata:
  name: mondooauditconfig-sample
spec:
  certificateProvisioning:
    # Could be "cert-manager", "openshift" or "manual"
    mode: cert-manager
  scanner:
    serviceAccountName: mondoo-client
    mondooCredsSecretRef: mondoo-client
    image:
      name: docker.io/mondoo/client
      tag: latest
    resources:
      requests:
      limits:
  kubernetesResources:
    enable: true
  nodes:
    enable: true
  admission:
    enable: true
    image:
      name: ghcr.io/mondoo/mondoo-operator
      tag: latest
    # could be "permissive" or "enforcing"
    mode: permissive
  