name: Publish cnspec container with providers

on:
  repository_dispatch:
    types: [update]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version of the cnspec container to publish'
        type: string
        required: false
        default: 'latest'

env:
  GHCR_IMAGE: ghcr.io/mondoohq/mondoo-operator/cnspec
  GCP_IMAGE: us-docker.pkg.dev/mondoohq/release/mondoo-operator-cnspec

jobs:
  build-cnspec:
    name: Build cnspec container
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        suffix:
          - ""
          - -ubi

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Sanitize version input (Workflow Dispatch)
        if: github.event_name == 'workflow_dispatch'
        run: |
          TAG=${{ github.event.inputs.version }}
          echo "VERSION=${TAG#v}" >> $GITHUB_ENV
      - name: Sanitize version input (Repository Dispatch)
        if: github.event_name == 'repository_dispatch'
        run: |
          TAG=${{ github.event.client_payload.version }}
          echo "VERSION=${TAG#v}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Log into registry ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Authenticate with Google Cloud
        uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # v3.0.0
        with:
          credentials_json: "${{ secrets.GCP_ARTIFACT_REGISTRY_SA }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db" # v3.0.1

      - name: Docker Login (GCR)
        run: |
          gcloud auth configure-docker us-docker.pkg.dev
      - name: "Setup Docker Buildx"
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ env.GHCR_IMAGE }}
            ${{ env.GCP_IMAGE }}
          tags: |
            type=semver,pattern={{version}},value=${{ env.VERSION }}
            type=semver,pattern={{major}},value=${{ env.VERSION }}
            type=raw,value=latest
          flavor: |
            suffix=${{ matrix.suffix }}-rootless,onlatest=true

      - name: Build and push cnspec image
        id: build-and-push-operator
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: cnspec.Dockerfile
          build-args: VERSION=${{ env.VERSION }}${{ matrix.suffix }}
          platforms: linux/amd64,linux/arm64
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
