
name: generate-manifests
on:
  pull_request:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
jobs:
  generate-manifests:
    runs-on: ubuntu-latest
    name: generate manifests
    steps:
    - uses: actions/checkout@v2
    - name: Import environment variables from file
      run: cat ".github/env" >> $GITHUB_ENV
    - uses: actions/setup-go@v2
      with:
        go-version: '${{ env.golang-version }}'
    - run: make deploy-yml