name: Leftover spaces cleanup

on:
  schedule:
    # Every Sunday at 11PM
    - cron: '0 23 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Leftover spaces cleanup 
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '1.24'

    - name: Run leftover spaces cleanup
      run: go run cmd/test-space-cleaner/main.go
      env:
        MONDOO_API_TOKEN: ${{ secrets.MONDOO_TEST_ORG_TOKEN }}
        MONDOO_ORG_MRN: '//captain.api.mondoo.app/organizations/mondoo-operator-testing'
        MONDOO_GQL_ENDPOINT: 'https://api.mondoo.com/query'


