name: Release Helm Chart

on:
  workflow_call:
  pull_request: # TODO: temporary just to verify whether stuff works

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: "${{ env.golang-version }}"

      - name: Start minikube
        uses: medyagh/setup-minikube@master

      - name: Try the cluster !
        run: kubectl get pods -A

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: "v3.8.0" # default is latest stable
        id: install

      - name: Store creds
        run: |
          echo ${{ secrets.MONDOO_CLIENT }} | base64 -d > creds.json

      - name: Install Mondoo Operator Helm chart
        run: helm install mondoo-operator charts/mondoo-operator -n mondoo-operator --create-namespace --wait

      # Now that dependencies are cached the tests start almost immediately after minikube has started
      # this makes tests fail occasionally. This sleep gives the runner some time to become more stable
      # before the test execution starts.
      - name: Wait a bit for the runner to become more stable
        run: sleep 60

      - name: Run integration tests
        run: EXTERNAL_INSTALLATION=1 make test/integration/ci

      - name: Upload test logs artifact
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-logs
          path: /home/runner/work/mondoo-operator/mondoo-operator/tests/integration/_output/
        
        # TODO: temporary don't release helm chart
      #- name: Run chart-releaser
        # switch back to helm/chart-releaser-action when #60 is fixed
        # https://github.com/helm/chart-releaser-action/issues/60
        # uses: luisico/chart-releaser-action@on-tags
        # env:
        #   CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - uses: dorny/test-reporter@v1
        if: failure() || success()
        with:
          name: Report test results
          path: '*.xml'                     # Path to test results (inside artifact .zip)
          reporter: java-junit              # Format of test results
