name: Security Tests
on:
  workflow_call:
    secrets:
      MONDOO_CLIENT:
        required: true

# https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
permissions:
  contents: read
# Attention: These jobs still have access to all the secrets.

jobs:
  security-tests:
    runs-on: ubuntu-latest
    name: Security tests
    env:
      # Use docker.io for Docker Hub if empty
      REGISTRY: ghcr.io
      # github.repository as <account>/<repo>
      IMAGE_NAME: ${{ github.repository }}
      RELEASE: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - name: Import environment variables from file
        run: cat ".github/env" >> $GITHUB_ENV
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ">=${{ env.golang-version }}"
          cache: false
      - name: Scan AWS terraform with Mondoo
        uses: mondoohq/actions/terraform-hcl@main
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_CLIENT }}
        with:
          path: ".github/terraform/aws/main.tf"
      - name: Scan Azure terraform with Mondoo
        uses: mondoohq/actions/terraform-hcl@main
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_CLIENT }}
        with:
          path: ".github/terraform/aks/main.tf"
      - name: Generate manifests
        run: make generate-manifests IMG='${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE }}'
      - name: Scan Kubernetes Manifest with Mondoo
        uses: mondoohq/actions/k8s-manifest@main
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_CLIENT }}
        with:
          path: "mondoo-operator-manifests.yaml"
